@charset "UTF-8";

.head1{
	text-align: center;
	background-color: #93ffff;
	height: 40px;
	box-sizing: border-box;
	padding-top: 4px;
}

.head2{
	text-align: center;
	background-color: #b3ffb3;
	height: 40px;
	border: 1px solid;
	box-sizing: border-box;
	padding-top: 4px;
}

.head3{
	text-align: center;
	background-color: #ffa8a8;
	height: 40px;
	border: 1px solid;
	box-sizing: border-box;
	padding-top: 4px;
}

.menu{
	height: 450px;
	border: 1px solid;
	box-sizing: border-box;
}

.menu li{
	margin-top: 8px;
}

h2{
	text-align: center;
}