<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>薬品在庫管理システム</title>
<link rel = "stylesheet" href = "css/bootstrap.css">
<link rel="stylesheet" href ="css/mst_shain.css">
<script src="js/jquery-3.4.1.js"></script>
<script src="js/jquery.twbsPagination.js"></script>
<script src="js/mst_shain.js"></script>

</head>
<body>
	<div th:replace="header"></div>
	<h2>社員一覧</h2>
	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<table class="table">
					<tr>
						<th>社員</th>
						<td colspan="2">
							<input type="text" id="shain" th:value="${sd.shain}">
						</td>
						<th>ログインフラグ</th>
						<td>
							<select id="login_flg">
								<option value="">--指定なし--</option>
								<option value="0" th:selected="${sd.login_flg == '1'}">ログイン可</option>
								<option value="1" th:selected="${sd.login_flg == '2'}">ログイン不可</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>権限</th>
						<td>
							<select id="kengen_code">
								<option value="">--指定なし--</option>
								<option th:each="map : ${sd.kengen_list}" th:selected="${map.kengen_code == sd.kengen_code}"
												th:value="${map.kengen_code}" th:text="${map.kengen_name}"></option>
							</select>
						</td>
						<th>削除フラグ</th>
						<td>
							<select id="delete_flg">
								<option value="">--指定なし--</option>
								<option value="0" th:selected="${sd.delete_flg == '0'}">正規データ</option>
								<option value="1" th:selected="${sd.delete_flg == '1'}">削除データ</option>
							</select>
						</td>
						<td style="text-align:center">
							<button onclick="kensaku()">検索</button>&nbsp;&nbsp;
							<button onclick="shinki()">新規作成</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<nav aria-label="Page navigation">
			<ul class="pagination" id="pagination"></ul>
		</nav>
		<div id="list"></div>
	</div>
	

</body>
</html>